html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.dark {
    color: #DADADA;
    background: #1c2022;
    min-height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-clear {
    border: none;
    background: transparent;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.nav li {
    margin-right: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.header-lg {
    font-size: 35px;
    font-weight: 300;
    margin: 20px;
}

.header-sm {
    font-size: 28px;
    font-weight: 300;
    margin: 10px;
}

.center-text {
    text-align: center;
}

.link {
    color: rgb(187, 46, 31);
    text-decoration: none;
    font-weight: bold;
}

.dark a {
    color: #DADADA;
}

.bg-light {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.error {
    color: #ff1616;
    font-size: 20px;
    margin: 50px 0;
}

.bg-dark {
    background: rgb(36, 40, 42);
    border-radius: 3px;
}

.post-preview {
    margin: 20px 0;
}

.post-preview * {
    margin: 5px 0;
}

.post-meta-info-light {
    color: gray;
}

.post-meta-info-light a {
    color: black;
}

.post-meta-info-dark {
    color: gray;
}

.post-meta-info-dark a {
    color: #DADADA
}

.user-preview {
    margin: 20px 0;
}

.user-preview * {
    margin: 5px 0;
}

.info {
    color: #808080;
}

.item-description-route-light {
    color: black;
}

.item-description-route-dark {
    color: #DADADA;
}

.active-link a {
    color: rgb(187, 46, 31);
}

.comment {
    padding: 10px;
    margin: 10px 0
}

.comment * {
    padding-top: 0;
}

